.goal{
  max-width: 40%;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.goal h3{
  color: #e5e7eb;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  margin: 10px;
       text-shadow: 10px 10px 20px #131313;
}

.goal p{
  color: #e5e7eb;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0;
  line-height: 1.5rem;
  line-height: 2rem;
  text-shadow: 10px 10px 20px #131313;
}

#services{
    max-width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 35px;
}

#services::before{
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: brightness(50%);
    position: absolute;
    background: url('../assets/servicesBG.jpg') no-repeat center center/cover;
    z-index: -1;    
}

.services-header{
    text-align: center;
    color: #ff4b2b;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
     text-shadow: 10px 10px 20px #131313;
}

.services-content{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
    gap: 10px;
}

.services-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.services-card{
    background: #f7f7f71f; 
    backdrop-filter: blur(40px);           
    -webkit-backdrop-filter: blur(40px);   
    border: #e5e7eb80 1px solid;
    font-family: "Poppins", sans-serif;
    width: 100%;
    text-align: center;
    height: auto;
    padding: 15px;
}

.services-card h4{
    color: #ff4b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.75rem;
    margin: 20px 0;
}

.services-card p{
    color: #e5e7eb;
    line-height: 1.75rem;
    font-family: "Poppins", sans-serif;
}

#services button{
    padding: 10px 30px;
    font-size: 1.15rem;
    border: none;
   border-radius: 5px;
    background: #ff4b2b;
    color: #e5e7eb;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease-in-out;
    max-width: 30%;
    margin-bottom: 20px;
}

#services button:hover{
     background: #0f172a;
    transition: 0.3s;
    box-shadow: 0 8px 40px 0px #4a4a4a9e;
    color:#ff4b2b;
    transform: scale(1.05);
}

@media (max-width: 575px) {
    .goal {
        max-width: 100%;
        min-width: 30%;
        height: auto;
        padding: 10px 15px;
        margin: 0;
    }

    .goal h3 {
        font-size: .92rem;
        margin: 0;
    }

    .goal p {
        font-size: 0.95rem;
        line-height: 1.5rem;
        margin: 0;
    }

    .services-header h2{
        font-size: 2rem;
        margin: 0;
    }

    .services-content{
        height: auto;
        gap: 10px;
    }

    .services-row{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    #services{
        height: auto;
    }

    #services button{
        max-width: 100%;
        min-width: 50%;
    }
    
    .services-card h4{
        font-size: 1.55rem;
    }

    .services-card p{
        font-size: 0.85rem;
    }
}