
html{
      width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}
body{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     font-family: "Poppins", sans-serif;
    background-color: #e5e7eb;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #007e76;
    border-radius: 20px;
    border: 2px solid #e5e7eb;
}

::-webkit-scrollbar-thumb:hover {
    background: #00b4a6;
}

.header-container{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 10vh;
    box-sizing: border-box;
}

.services-container{
    width: 100%;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 50px;
}
.page-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: auto;
}

.page-title h1{
    font-family: inherit;
    color: #007e76;
    font-size: 3rem;
}

.page-title p{
    color: #383535;
    font-family: inherit;
    font-size: 1.2rem;
    width: 60%;
    text-align: center;
    margin-bottom: 30px;
}

.page-title button{
    padding: 15px 30px;
    font-size: 1.15rem;
    border: none;
    border-radius: 5px;
    background: #007e76;
    color: #e5e7eb;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease-in-out;
    max-width: 100%;
}

.page-title button:hover{
    background: #0f172a;
    transition: 0.3s;
    box-shadow: 0 8px 40px 0px #4a4a4a9e;
    color:#007e76;
    transform: scale(1.05);
}

.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 50px;
    width: 100%;
    height: auto;
}

.side{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side-img{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.services img{
    width: 100%;
    height: 35rem;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 1px 10px 20px #38353510;
}

.services h2{
    font-family: inherit;
    color: #007e76;
    font-size: 3rem;
    width: 100%;
}

.services p, .services span{
    font-family: inherit;
    font-size: 1.2rem;
    width: 100%;
}

.one, .three, .five{
    background-color: #0f172a;
    color: #e5e7eb;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.two, .four, .six{
    color: #383535;
    display: flex;
    flex-direction: row;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.how-it-works{
    width: 100%;
    background-color:#0f172a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    height: auto;
}

.how-it-works h2{
    font-family: inherit;
    font-size: 3rem;
    color: #007e76;
    width: 100%;
    text-align: center;
}

.steps-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    min-height: 100%;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    height: auto;
}

.step h4{
    font-family: inherit;
    font-size: 1.35rem;
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.step span{
    background-color: #007e76;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: 1.2rem;
    color: #e5e7eb;
    border: 2px dashed #e5e7eb;
}

.step p{
    color: #e5e7eb;
    font-family: inherit;
    font-size: 1.25rem;
    margin-left: 60px;
    border-left: 3px solid #007e76;
    padding-left: 20px;
}

.scroll-button {
    position: fixed;
    bottom: 5%;
    right: 3%;
    background-color: #007e76;
    color: #e5e7eb;
    border-radius: 50%;
    border: 2px dashed #131313;
    width: 4%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 999;
    font-size: 1.75rem;
    display: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media (max-width: 575px){
    .services-container, .how-it-works{
        padding: 20px;
    }
    .page-title{
      width: 100%;
      padding: 0;
    }
    .page-title h1{
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }
    .page-title p{
        width: 100%;
        font-size: .85rem;
    }
    .page-title button{
        padding: 10px;
        font-size: .9rem;
        max-width: 250px;
    }
    .services{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 10px;
    }
    .side-img{
        width: 100%;
    }
    .side-img img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: center;
    }
    .side{
        width: 100%;
        align-items: center;
    }
    .side h2{
        font-size: 1.75rem;
        width: 100%;
        text-align: center;
    }
    .side p, .side span{
        font-size: .85rem;
        width: 100%;
        text-align: justify;
    }
    .how-it-works h2{
        font-size: 2rem;
    }
    .row-container{
        flex-direction: column;
    }
    .step{
        width: 100%;
    }
    .step h4, .step span{
        font-size: 1rem;
    }
    .step p{
        font-size: .85rem;
    }
    .scroll-button {
    width: 45px;
    height: 45px;
    font-size: 1.2rem;
    bottom: 15px;
    right: 15px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .services-container{
        padding: 20px;
    }
    .page-title p{
        width: 80%;
    }
     .scroll-button {
    width: 7%;
    height: 6%;
    font-size: 1.2rem;
    bottom: 15px;
    right: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .services-container{
        padding: 20px;
    }
      .scroll-button {
    width: 7%;
    height: 6%;
    font-size: 1.2rem;
    bottom: 15px;
    right: 15px;
    }
}