:root{
    --primary-color: #F47D02;
    --secondary-color: #ffde59;
    --text-color-light: #e5e7eb;
    --text-color-dark: #383535;
    --dark-bg: #0f172a;
    --text-shadow: 10px 10px 20px #13131343;
}
html{
      width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}
body{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     font-family: "Poppins", sans-serif;
    background-color: var(--text-color-light);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 20px;
    border: 2px solid var(--text-color-light);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

.header-container{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 10vh;
    box-sizing: border-box;
}

.services-container{
    width: 100%;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 50px;
}
.page-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: auto;
}

.page-title h1{
    font-family: inherit;
    color: var(--primary-color);
    font-size: 3rem;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.page-title p{
    color: var(--text-color-dark);
    font-family: inherit;
    font-size: 1.2rem;
    width: 60%;
    text-align: center;
    margin-bottom: 30px;
}

.page-title button{
    padding: 15px 30px;
    font-size: 1.15rem;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--text-color-light);
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease-in-out;
    max-width: 100%;
}

.page-title button:hover{
    background: var(--secondary-color);
    transition: 0.3s;
    box-shadow: 0 8px 40px 0px #4a4a4a9e;
    color:var(--text-color-dark);
    transform: scale(1.02);
}

.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 50px;
    width: 100%;
    height: auto;
}

.side{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side-img{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.services img{
    width: 100%;
    height: 35rem;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #13131343,
                15px 15px 0px var(--secondary-color);
}

.services h2{
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    font-size: 3rem;
    width: 100%;
    text-shadow: var(--text-shadow);
}

.services p, .services span{
    font-family: inherit;
    font-size: 1.2rem;
    width: 100%;
}
.one h2, .three h2, .five h2{
    color: var(--text-color-light);
}

.one, .three, .five{
    background-color: var(--primary-color);
    color: var(--text-color-light);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.two, .four, .six{
    color: var(--text-color-dark);
    display: flex;
    flex-direction: row;
    background-color: var(--text-color-light);
    justify-content: center;
    align-items: center;
}

.how-it-works{
    width: 100%;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    height: auto;
}

.how-it-works h2{
    font-family: inherit;
    font-size: 3rem;
    color: var(--text-color-light);
    width: 100%;
    text-align: center;
    text-shadow: var(--text-shadow);
}

.steps-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    min-height: 100%;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    height: auto;
}

.step h4{
    font-family: inherit;
    font-size: 1.35rem;
    color: var(--text-color-light);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.step span{
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: 1.2rem;
    color: var(--text-color-dark);
    border: 2px dashed var(--dark-bg);
}

.step p{
    color: var(--text-color-light);
    font-family: inherit;
    font-size: 1.25rem;
    margin-left: 60px;
    border-left: 3px solid var(--secondary-color);
    padding-left: 20px;
}

.scroll-button {
    position: fixed;
    bottom: 5%;
    right: 3%;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border-radius: 50%;
    border: 2px dashed #131313;
    width: 4%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 999;
    font-size: 1.75rem;
    display: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.scroll-button:hover{
    opacity: 1;
}

@media (max-width: 575px){
    .services-container, .how-it-works{
        padding: 20px;
    }
    .page-title{
      width: 100%;
      padding: 0;
    }
    .page-title h1{
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }
    .page-title p{
        width: 100%;
        font-size: .85rem;
    }
    .page-title button{
        padding: 10px;
        font-size: .9rem;
        max-width: 250px;
    }
    .services{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 10px;
    }
    .side-img{
        width: 100%;
    }
    .side-img img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: center;
    }
    .side{
        width: 100%;
        align-items: center;
    }
    .side h2{
        font-size: 1.75rem;
        width: 100%;
        text-align: center;
    }
    .side p, .side span{
        font-size: .85rem;
        width: 100%;
        text-align: justify;
    }
    .how-it-works h2{
        font-size: 2rem;
    }
    .row-container{
        flex-direction: column;
    }
    .step{
        width: 100%;
    }
    .step h4, .step span{
        font-size: 1rem;
    }
    .step p{
        font-size: .85rem;
    }
    .scroll-button {
    width: 45px;
    height: 45px;
    font-size: 1.2rem;
    bottom: 15px;
    right: 15px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .services-container{
        padding: 20px;
    }
    .page-title p{
        width: 80%;
    }
     .scroll-button {
    width: 7%;
    height: 6%;
    font-size: 1.2rem;
    bottom: 15px;
    right: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .services-container{
        padding: 20px;
    }
      .scroll-button {
    width: 7%;
    height: 6%;
    font-size: 1.2rem;
    bottom: 15px;
    right: 15px;
    }
}